<!DOCTYPE html>
<!--  
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
-->
<html>
<head>
<meta name="keywords" content="Tengine Demo">
<meta charset="UTF-8">
<meta http-equiv="charset" content="utf-8" data-tg-header>
<meta charset="GBK" />
<meta charset="BIG5">
<!-- 服务器将把名称/值对添加到发送给浏览器的内容头部 -->
<meta http-equiv="charset" content="utf-8">
<meta http-equiv="expires" content="31 Dec 2008">
<link rel="stylesheet" type="text/css" href="c3.css">
<title>${title}</title>
<style type="text/css">
    body{
        padding:0;
        margin:0;
    }
</style>
<script type="text/javascript">
    <![CDATA[

    ]]>
</script>
</head>
<body>
	<form name="queryFm" action="${queryUrl + '/test.do'}">
		姓名: <input name="name" value="${admin.name}"> <br>
        年龄: <input name="age" value="${admin.age}"> <br>
		<button>查询</button>
	</form>
	<table>
		<tr>
			<td>序号</td>
			<td>姓名</td>
			<td>年龄</td>
			<td>地址</td>
			<td>邮箱</td>
			<td>婚姻</td>
			<td>详情</td>
		</tr>
		<tr data-tg-ignore>
			<td>1</td>
			<td>张三</td>
			<td>18</td>
			<td>深圳白石洲</td>
			<td>test@126.com</td>
			<td>否</td>
			<td>详情</td>
		</tr>
		<tr data-tg-repeat-user="userList" data-tg-continue="$stat.even" data-tg-if="showList">
			<td class="333" data-tg-class="'cls1'" data-tg-class-1="'cls2'" data-tg-title="'haha'">${$stat.row}</td>
			<td data-tg-href="http://loaclahost:8080/${user.name}/${user.age}">${user.name}</td>
			<td data-tg-selected="user.age > 20">${user.age}</td>
			<td>${user.address}</td>
			<td>${user.email}</td>
			<td data-tg-text="user.single">否</td>
			<td><a href="http://loacalhost:8080/user/${user.id}?name=${user.name}">查看</a></td>
		</tr>
	</table>
	<!-- (body)include,replace,last,first -->
	<div data-tg-frag-body-replace="subtpl.html?id=122&name=agan&email=${user.email}#numList">
		<ul>
			<li>a</li>
			<li>b</li>
			<li>c</li>
		</ul>
	</div>
	<script type="text/javascript">
		var name = queryFm.name.value;
		if (name > 'n') {
			alert("ok");
		} else if (name < 'a') {
			alert("no ok");
		} else {

		}
	</script>
</body>
</html>


